<% if (success && success.length) { %>
<div class="toast align-items-center text-bg-success fade show border-0 position-fixed bottom-0 end-0 z-index-1 me-3 mb-5"
    role="status" aria-live="polite" aria-atomic="true">
    <div class="d-flex justify-content-between fs-6">
        <div class="toast-body">
            <%= success %>
        </div>
        <div class="toast-body d-flex">
            <button class="btn-close btn-close-white mb-auto" data-bs-dismiss="toast" type="button"
                aria-label="Close"></button>
        </div>
    </div>
</div>
<script src="/scripts/toast.js" type="module"></script>

<% } if (error && error.length) { %>
<div class="toast align-items-center text-bg-danger fade show border-0 position-fixed bottom-0 end-0 z-index-1 me-3 mb-5"
    role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex justify-content-between fs-6">
        <div class="toast-body">
            <%= error %>
        </div>
        <div class="toast-body d-flex">
            <button class="btn-close btn-close-white mb-auto" data-bs-dismiss="toast" type="button"
                aria-label="Close"></button>
        </div>
    </div>
</div>
<script src="/scripts/toast.js" type="module"></script>

<% } if (cart && cart.length) { %>
<div class="toast align-items-center text-bg-success fade show border-0 position-fixed bottom-0 end-0 z-index-1 me-3 mb-5"
    role="status" aria-live="polite" aria-atomic="true">
    <div class="d-flex justify-content-between fs-6">
        <div class="toast-body">
            Το προϊόν προστέθηκε στο <a class="text-reset" href="/cart.php">καλάθι</a> σας.
        </div>
        <div class="toast-body d-flex">
            <button class="btn-close btn-close-white mb-auto" data-bs-dismiss="toast" type="button"
                aria-label="Close"></button>
        </div>
    </div>
</div>
<script src="/scripts/toast.js" type="module"></script>
<% } %>
