<nav
    class="navbar navbar-expand-lg navbar-dark <% if (!(["Εγγραφή", "Αρχική", "Σύνδεση"].includes(title))) { %>bg-dark <% } if (["Εγγραφή", "Αρχική", "Σύνδεση", "Σφάλμα"].includes(title)) { %>mb-n56<% } else { %>navbar-reveal fixed-top<% } %>">
    <div class="container-fluid mx-0">
        <a class="navbar-brand" href="/<%= user ? "products" : "index" %>.php">
            Cloud Project
        </a>

        <a class="navbar-brand d-lg-none me-0" data-bs-toggle="collapse" href="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <%= user ? `${user.name} ${user.surname} (${user.role})` : "Λογαριασμός" %>
            <i class="bi bi-person-circle ms-1"></i>
        </a>

        <div class="navbar-nav justify-content-end w-100 d-none d-lg-flex">
            <div class="nav-item dropdown">
                <a class="nav-divnk dropdown-toggle navbar-brand me-0" role="button" href="#"
                    aria-haspopup="true" aria-expanded="false">
                    <%= user ? `${user.name} ${user.surname} (${user.role})` : "Λογαριασμός" %>
                    <i class="bi bi-person-circle ms-1"></i>
                </a>
                <div class="dropdown-positioner">
                    <div class="dropdown-menu dropdown-menu-dark">
                        <% if (user) { %>
                        <a class="dropdown-item" href="/products.php">
                            <i class="bi bi-house-fill me-1"></i> Κεντρική
                        </a>
                        <a class="dropdown-item" href="/cart.php">
                            <i class="bi bi-cart-fill me-1"></i> Καλάθι Αγορών
                        </a>

                        <% if (user.role === "product seller" || user.role === "admin") { %>
                        <a class="dropdown-item" href="/seller.php">
                            <i class="bi bi-coin me-1"></i> Πύλη Πωλητών
                        </a>

                        <% } if (user.role === "admin") { %>
                        <a class="dropdown-item" href="/administration.php">
                            <i class="bi bi-people-fill me-1"></i> Διαχείριση
                        </a>
                        <% } %>

                        <a class="dropdown-item" href="/logout">
                            <i class="bi bi-box-arrow-left me-1"></i> Αποσύνδεση
                        </a>

                        <% } else { %>
                        <a class="dropdown-item" href="/index.php">
                            <i class="bi bi-box-arrow-in-right me-1"></i> Σύνδεση
                        </a>
                        <a class="dropdown-item" href="/signup.php">
                            <i class="bi bi-box-arrow-in-up-right me-1"></i> Εγγραφή
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-content">
            <div class="navbar-nav justify-content-end w-100 d-lg-none">
                <% if (user) { %>
                <a class="nav-link" href="/cart.php">Καλάθι Αγορών</a>
                <a class="nav-link" href="/products.php">Προϊόντα</a>
                <% if (user.role === "product seller" || user.role === "admin") { %>
                <a class="nav-link" href="/seller.php">Πύλη Πωλητών</a>
                <% } %>
                <% if (user.role === "admin") { %>
                <a class="nav-link" href="/administration.php">Χρήστες</a>
                <% } %>
                <a class="nav-link" href="/logout">Αποσύνδεση</a>
                <% } else { %>
                <a class="nav-link" href="/index.php">Σύνδεση</a>
                <a class="nav-link" href="/signup.php">Εγγραφή</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
