<% layout('layouts/boilerplate') %>
<%#- include("../partials/modals") %>

<main class="container-lg d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100 pt-108 mt-n1">
        <div class="col-12 col-md-7 col-lg-5 text-center">
            <h1 class="display-3 mb-4">
                Σύνδεση
            </h1>
            <p class="text-muted">
                Δεν έχετε λογαριασμό; <a href="/signup.php">Εγγραφείτε τώρα!</a>
            </p>

            <form class="validate-form" action="/index.php" method="post" novalidate>

                <!-- Username -->
                <div class="form-group form-floating text-start mb-4">
                    <input class="form-control" id="username" name="username" type="text"
                        placeholder="Το όνομα χρήστη σας" maxlength="100" required
                        aria-required="true">
                    <label class="text-muted opacity-100" for="username">
                        Το όνομα χρήστη σας
                    </label>
                    <div class="invalid-feedback">Παρακαλώ εισάγετε όνομα χρήστη.</div>
                </div>

                <!-- Password -->
                <div class="input-group mb-4">
                    <div class="form-floating text-start">
                        <input class="form-control" id="password" name="password"
                            placeholder="Ο κωδικός σας" type="password" required
                            aria-label="Ο κωδικός σας" aria-describedby="password-caption"
                            aria-required="true">
                        <label class="text-muted opacity-100" for="password">
                            Ο κωδικός σας
                        </label>
                    </div>
                    <a class="input-group-text text-decoration-none text-gray-500"
                        id="password-caption" href="#password">
                        <i class="bi bi-eye"></i>
                    </a>
                    <div class="invalid-feedback text-start" id="password-error">
                        Παρακαλώ εισάγετε κωδικό.
                    </div>
                </div>

                <button class="btn w-100 btn-primary" onclick="passwordValidate()">
                    Σύνδεση
                </button>
            </form>
        </div>
    </div>
</main>

<!-- Scripts -->
<script src="/scripts/eyeHandler.js"></script>
