<% layout('layouts/boilerplate') %>

<!-- MODALS -->
<%- include("../partials/modals") %>

<!-- BODY -->
<main>
    <div class="container-lg d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100 pt-108 mt-n1">
            <div class="col-12 col-md-7 col-lg-5 text-center">

                <!-- Heading -->
                <h1 class="display-3 mb-4">
                    Sign Up
                </h1>

                <!-- Text -->
                <p class="text-muted">
                    Start sending invoices in just a few minutes.
                </p>

                <!-- Form -->
                <form class="mb-6" action="/register" method="post">

                    <!-- Email -->
                    <div class="form-group form-floating text-start">
                        <input class="form-control" id="email" type="email"
                            placeholder="Your email">
                        <label class="text-muted opacity-100" for="email">
                            Your email
                        </label>
                    </div>

                    <!-- Button -->
                    <button class="btn w-100 btn-primary">
                        Sign up
                    </button>
                </form>

                <!-- Text -->
                <small class="text-muted">
                    Already have an account? <a href="/login">Login</a>
                </small>
            </div>
        </div>
    </div>
</main>
