<% layout("layouts/boilerplate") %>
<%#- include("../partials/modals") %>

<div class="container-lg d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100 pt-56 mt-n1">
        <div class="card col-10 col-sm-8 col-md-6 text-center opacity-86">
            <main class="card-body mb-1">
                <h1 class="display-3 mb-4">
                    Καλώς Ήρθατε
                </h1>
                <p class="text-muted">
                    Τώρα μπορείτε να αρχίσετε να χρησιμοποιείτε την εφαρμογή! Παρακάτω θα βρείτε
                    μερικούς χρήσιμους συνδέσμους για να ξεκινήσετε.
                </p>

                <div class="list-group list-group-flush mb-3">
                    <a class="list-group-item list-group-item-action text-start"
                        href="/products.php" title="products.php">
                        <h2 class="fs-lg fw-bold mb-0">
                            Κεντρική
                        </h2>
                        <p class="small text-muted mt-n1 mb-0">
                            Προβολή όλων των διαθέσιμων προϊόντων του καταστήματός μας.
                        </p>
                    </a>
                    <a class="list-group-item list-group-item-action text-start" href="/cart.php"
                        title="cart.php">
                        <h2 class="fs-lg fw-bold mb-0">
                            Καλάθι Αγορών
                        </h2>
                        <p class="small text-muted mt-n1 mb-0">
                            Προβολή των προϊόντων που έχετε προσθέσει στο καλάθι σας.
                        </p>
                    </a>
                    <% if (user.role === "product seller" || user.role === "admin") { %>
                    <a class="list-group-item list-group-item-action text-start" href="/seller.php"
                        title="seller.php">
                        <h2 class="fs-lg fw-bold mb-0">
                            Πύλη Πωλητών
                        </h2>
                        <p class="small text-muted mt-n1 mb-0">
                            Προβολή και διαχείριση όλων των προϊόντων που έχετε καταχωρήσει προς
                            πώληση στην εφαρμογή.
                        </p>
                    </a>
                    <% } %>
                    <% if (user.role === "admin") { %>
                    <a class="list-group-item list-group-item-action text-start"
                        href="/administration.php" title="administration.php">
                        <h2 class="fs-lg fw-bold mb-0">
                            Χρήστες
                        </h2>
                        <p class="small text-muted mt-n1 mb-0">
                            Προβολή και διαχείριση όλων των εγγεγραμμένων χρηστών.
                        </p>
                    </a>
                    <% } %>
                </div>

                <!-- Text -->
                <small class="text-muted">
                    <a href="/logout">Αποσύνδεση</a>
                </small>
            </main>
        </div>
    </div>
</div>
